/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    height: 100vh;
     display: flex; 
     justify-content: center; 
     align-items: center;
     background-color: #000;
     color:#fff 
}


.container {
    display: flex;
    flex-direction: column;
    width:600px;
    padding: 1em;
    align-items: center;
    justify-content: center;
}
.bordered {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}
.line {
    width: 100%;
}

input {
    width: 70%;
    margin: 1em;
    font-size: 1.2em;
    border-radius: 5px;
}
a {
    color:#ffffffff;
}
.btnUrl {
    color: #ffffffff;
    background-color: #000;
    border:solid;
    border-color: #ffffffff;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 1.1em;
}
.copy {
    background-color: #000;
    color: #ffffffff;
    border: solid;
    border-color: #ffffffff;
    border-radius: 5px;
    border-width: 1px;
    margin-left: 5px;
}